# Clean up for Hotness Metrics by County

In [35]:
import pandas as pd
df = pd.read_csv("../Dataset/Market_Hotness/Hotness_Metrics_County_History.csv")

/Users/vasavdave/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df.drop(labels =[77322], axis=0,inplace = True)
df

,month_date_yyyymm,county_fips,county_name,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,202108,13045,"carroll, ga",12060.0,"atlanta-sandy springs-roswell, ga",576.0,719.0,94.0,-58.0,52.060875,...,-13.5,-7.5,-0.150000,0.133333,0.7312,334500.0,-0.001493,0.195070,0.8803,0.0
1,202108,22115,"vernon, la",22860.0,"fort polk south, la",970.0,1407.0,-82.0,100.0,19.150285,...,-39.0,9.0,-0.074074,0.785714,0.5376,202450.0,0.306129,0.397170,0.5328,0.0
2,202108,18051,"gibson, in",NaN,NaN,NaN,492.0,15.0,426.0,61.287254,...,-50.0,-10.0,-0.069767,-0.183673,0.8602,150000.0,-0.090358,-0.090358,0.3947,0.0
3,202108,13047,"catoosa, ga",16860.0,"chattanooga, tn-ga",806.0,73.0,-7.0,98.0,88.554217,...,-18.5,-9.5,0.035714,0.279412,1.8710,304900.0,-0.016134,0.037428,0.8024,0.0
4,202108,13029,"bryan, ga",42340.0,"savannah, ga",1273.0,917.0,204.0,343.0,45.846544,...,-24.0,-1.0,-0.111111,1.105263,0.8602,389942.5,0.026164,0.260318,1.0262,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77317,201708,26105,"mason, mi",31220.0,"ludington, mi",1292.0,949.0,NaN,NaN,42.327204,...,NaN,28.5,NaN,NaN,1.2000,169900.0,NaN,NaN,0.6090,NaN
77318,201708,38101,"ward, nd",33500.0,"minot, nd",729.0,1030.0,NaN,NaN,37.920101,...,NaN,1.5,NaN,NaN,0.6000,209900.0,NaN,NaN,0.7523,NaN
77319,201708,27059,"isanti, mn",33460.0,"minneapolis-st. paul-bloomington, mn-wi",1187.0,202.0,NaN,NaN,80.944832,...,NaN,-21.0,NaN,NaN,1.3000,227900.0,NaN,NaN,0.8168,NaN
77320,201708,24009,"calvert, md",47900.0,"washington-arlington-alexandria, dc-va-md-wv",680.0,801.0,NaN,NaN,50.126823,...,NaN,-3.0,NaN,NaN,0.8000,347000.0,NaN,NaN,1.2437,NaN
77321,201708,13073,"columbia, ga",12260.0,"augusta-richmond county, ga-sc",465.0,1054.0,NaN,NaN,35.954344,...,NaN,0.5,NaN,NaN,0.5000,249949.5,NaN,NaN,0.8959,NaN

In [36]:
for col in df.columns:
    print(col)

month_date_yyyymm
county_fips
county_name
cbsa_code
cbsa_title
nielsen_hh_rank
hotness_rank
hotness_rank_mm
hotness_rank_yy
hotness_score
supply_score
demand_score
median_days_on_market
median_days_on_market_mm
median_dom_mm_day
median_days_on_market_yy
median_dom_yy_day
median_dom_vs_us
ldp_unique_viewers_per_property_mm
ldp_unique_viewers_per_property_yy
ldp_unique_viewers_per_property_vs_us
median_listing_price
median_listing_price_mm
median_listing_price_yy
median_listing_price_vs_us
quality_flag

In [3]:
#df.groupby(["hotness_rank","month_date_yyyymm"])
#df.head()

In [4]:
#df.sort_values(by=['hotness_rank'], ascending=True, inplace=False)
#df.head()

In [5]:
df.to_csv("../Output/Hotness_Metrics_By_County.csv")

# Clean up for Hotness Metrics by Metro

In [37]:
metro_hotness = pd.read_csv("../Dataset/Market_Hotness/Hotness_Metrics_Metro_History.csv")
for col in metro_hotness.columns:
    print(col)

month_date_yyyymm
cbsa_code
cbsa_title
nielsen_hh_rank
hotness_rank
hotness_rank_mm
hotness_rank_yy
hotness_score
supply_score
demand_score
median_days_on_market
median_days_on_market_mm
median_dom_mm_day
median_days_on_market_yy
median_dom_yy_day
median_dom_vs_us
ldp_unique_viewers_per_property_mm
ldp_unique_viewers_per_property_yy
ldp_unique_viewers_per_property_vs_us
median_listing_price
median_listing_price_mm
median_listing_price_yy
median_listing_price_vs_us
quality_flag

In [38]:
metro_hotness

,month_date_yyyymm,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,202108,17780,"college station-bryan, tx",193.0,218.0,15.0,74.0,36.120401,51.839465,20.401338,...,-42.0,-3.0,-0.107143,1.272727,0.6757,299000.0,-0.092564,0.128302,0.7868,0.0
1,202108,40420,"rockford, il",154.0,62.0,-5.0,-3.0,68.060201,78.929766,57.190635,...,-15.5,-9.5,-0.187500,-0.048780,1.0541,167450.0,-0.009172,-0.014420,0.4407,0.0
2,202108,22900,"fort smith, ar-ok",170.0,157.0,-44.0,112.0,48.160535,49.832776,46.488294,...,-36.5,-2.5,-0.100000,0.636364,0.9730,203499.5,-0.030955,0.023125,0.5355,0.0
3,202108,14010,"bloomington, il",224.0,266.0,-11.0,-13.0,21.739130,2.341137,41.137124,...,-2.0,32.0,-0.128205,0.307692,0.9189,130000.0,-0.071429,-0.037037,0.3421,0.0
4,202108,46060,"tucson, az",51.0,201.0,9.0,-37.0,40.468227,65.551839,15.384615,...,-13.0,-6.0,-0.153846,-0.043478,0.5946,359700.0,0.027714,0.107110,0.9466,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14696,201708,41500,"salinas, ca",150.0,71.0,NaN,NaN,71.571906,48.160535,94.983278,...,NaN,-2.5,NaN,NaN,2.0000,890001.0,NaN,NaN,3.1900,NaN
14697,201708,44300,"state college, pa",270.0,122.0,NaN,NaN,57.023411,28.428094,85.618729,...,NaN,11.0,NaN,NaN,1.5556,253200.0,NaN,NaN,0.9075,NaN
14698,201708,20100,"dover, de",251.0,237.0,NaN,NaN,28.093645,8.026756,48.160535,...,NaN,26.5,NaN,NaN,1.0000,247900.0,NaN,NaN,0.8885,NaN
14699,201708,45500,"texarkana, tx-ar",285.0,225.0,NaN,NaN,30.602007,39.130435,22.073579,...,NaN,2.5,NaN,NaN,0.7778,140950.0,NaN,NaN,0.5052,NaN
14700,quality_flag = 1: year-over-year figures may ...,please contact economics@realtor.com for more...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
metro_hotness.to_csv("../Output/Hotness_Metrics_By_Metro.csv")

# Clean up for Hotness Metrics by Zip

In [10]:
zip_hotness = pd.read_csv("../Dataset/Market_Hotness/Hotness_Metrics_zip_History.csv")
for col in zip_hotness.columns:
    print(col)

month_date_yyyymm
postal_code
zip_name
nielsen_hh_rank
hotness_rank
hotness_rank_mm
hotness_rank_yy
hotness_score
supply_score
demand_score
median_days_on_market
median_days_on_market_mm
median_dom_mm_day
median_days_on_market_yy
median_dom_yy_day
median_dom_vs_us
ldp_unique_viewers_per_property_mm
ldp_unique_viewers_per_property_yy
ldp_unique_viewers_per_property_vs_us
median_listing_price
median_listing_price_mm
median_listing_price_yy
median_listing_price_vs_us

In [11]:
zip_hotness

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_days_on_market_yy,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us
0,202108,34219,"parrish, fl",5530,1824,433.0,8449.0,75.407760,72.456538,78.358982,...,-0.463636,-25.5,-9.5,-0.223776,2.083333,1.7077,426512.5,0.074366,0.384668,1.1224
1,202108,32824,"orlando, fl",2436,1315,589.0,2551.0,79.001804,69.777795,88.225813,...,-0.340426,-16.0,-8.0,-0.013793,0.588889,2.2000,377500.0,0.110294,0.161538,0.9934
2,202108,54646,"necedah, wi",14327,9005,-2246.0,3115.0,45.243121,24.588402,65.897839,...,-0.776846,-231.5,27.5,-0.092784,0.294118,1.3538,279000.0,0.000000,-0.418629,0.7342
3,202108,91354,"valencia, ca",4140,5005,-707.0,-2916.0,60.430978,78.098016,42.763941,...,-0.337500,-13.5,-12.5,-0.200000,-0.469027,0.9231,789500.0,0.032026,0.178358,2.0776
4,202108,93230,"hanford, ca",412,1382,-325.0,92.0,78.527843,80.903404,76.152282,...,-0.305556,-11.0,-14.0,-0.208955,-0.138211,1.6308,357000.0,0.034783,0.298182,0.9395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716991,201708,17019,"dillsburg, pa",6479,4979,NaN,NaN,66.253580,46.552104,85.955056,...,NaN,NaN,10.5,NaN,NaN,2.0000,277575.0,NaN,NaN,0.9949
716992,201708,28104,"matthews, nc",4019,5684,NaN,NaN,63.014981,61.772050,64.257913,...,NaN,NaN,-4.5,NaN,NaN,1.2222,466999.5,NaN,NaN,1.6738
716993,201708,27882,"spring hope, nc",10921,7569,NaN,NaN,54.020709,77.799809,30.241610,...,NaN,NaN,-19.5,NaN,NaN,0.6667,127990.0,NaN,NaN,0.4587
716994,201708,5474,"north hero, vt",23366,12594,NaN,NaN,25.633399,20.881986,30.384813,...,NaN,NaN,49.5,NaN,NaN,0.6667,285999.0,NaN,NaN,1.0251
716995,201708,51566,"red oak, ia",10986,13803,NaN,NaN,16.589557,18.179482,14.999633,...,NaN,NaN,57.0,NaN,NaN,0.4444,87000.0,NaN,NaN,0.3118

In [12]:
zip_hotness.to_csv("../Output/Hotness_Metrics_By_Zip.csv")

# Monthly Metrics by Country

In [13]:
monthly_country = pd.read_csv("../Dataset/Monthly_Inventory/Historical/Metrics_Country_History.csv")
monthly_country

,month_date_yyyymm,country,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202108,United States,380000.0,-0.0130,0.0860,640716,0.0571,-0.2581,39.0,0.026316,...,-0.0628,703919.5098,-0.0121,0.1016,1321512,0.0239,-0.1380,1.062555,-0.0669,0.2873
1,202107,United States,385000.0,0.0000,0.1032,606086,0.1043,-0.3345,38.0,0.027027,...,-0.0705,712562.4963,-0.0319,0.1588,1290610,0.0247,-0.1735,1.129417,-0.1652,0.4149
2,202106,United States,385000.0,0.0134,0.1273,548864,0.0881,-0.4305,37.0,-0.051282,...,-0.0777,736035.0593,-0.0116,0.2321,1259443,0.0441,-0.2028,1.294636,-0.0966,0.6555
3,202105,United States,379900.0,0.0131,0.1516,504436,0.0253,-0.5088,39.0,-0.093023,...,-0.0778,744682.1304,-0.0273,0.3063,1206227,0.0426,-0.2076,1.391239,0.0396,0.9090
4,202104,United States,375000.0,0.0137,0.1719,491969,-0.0023,-0.5296,43.0,-0.203704,...,-0.0742,765602.1531,-0.0122,0.3700,1156938,0.0415,-0.2189,1.351648,0.0988,0.9354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,201611,United States,255000.0,NaN,NaN,1449677,NaN,NaN,82.5,NaN,...,NaN,449150.2465,NaN,NaN,1787258,NaN,NaN,0.232866,NaN,NaN
58,201610,United States,258048.0,NaN,NaN,1522232,NaN,NaN,79.0,NaN,...,NaN,445484.5253,NaN,NaN,1880774,NaN,NaN,0.235537,NaN,NaN
59,201609,United States,257280.0,NaN,NaN,1562584,NaN,NaN,78.0,NaN,...,NaN,441384.8244,NaN,NaN,1937772,NaN,NaN,0.240107,NaN,NaN
60,201608,United States,259000.0,NaN,NaN,1581909,NaN,NaN,73.0,NaN,...,NaN,441331.5800,NaN,NaN,1980635,NaN,NaN,0.252054,NaN,NaN
61,201607,United States,259900.0,NaN,NaN,1582557,NaN,NaN,69.0,NaN,...,NaN,444871.7801,NaN,NaN,2004410,NaN,NaN,0.266564,NaN,NaN

In [14]:
for col in monthly_country.columns:
    print(col)

month_date_yyyymm
country
median_listing_price
median_listing_price_mm
median_listing_price_yy
active_listing_count
active_listing_count_mm
active_listing_count_yy
median_days_on_market
median_days_on_market_mm
median_days_on_market_yy
new_listing_count
new_listing_count_mm
new_listing_count_yy
price_increased_count
price_increased_count_mm
price_increased_count_yy
price_reduced_count
price_reduced_count_mm
price_reduced_count_yy
pending_listing_count
pending_listing_count_mm
pending_listing_count_yy
median_listing_price_per_square_foot
median_listing_price_per_square_foot_mm
median_listing_price_per_square_foot_yy
median_square_feet
median_square_feet_mm
median_square_feet_yy
average_listing_price
average_listing_price_mm
average_listing_price_yy
total_listing_count
total_listing_count_mm
total_listing_count_yy
pending_ratio
pending_ratio_mm
pending_ratio_yy

In [15]:
monthly_country.to_csv("../Output/Monthly_Metrics_By_Country.csv")

# Monthly Metrics by County

In [16]:
monthly_county = pd.read_csv("../Dataset/Monthly_Inventory/Historical/Metrics_County_History.csv")
monthly_county

,month_date_yyyymm,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202108,41029,"jackson, or",522494.5,-0.0048,0.0908,454,0.0784,-0.1303,42.5,...,-0.0946,7.030042e+05,-0.0096,-0.0048,1019,-0.0039,-0.1572,1.244493,-0.1854,-0.0716
1,202108,6037,"los angeles, ca",984000.0,-0.0160,-0.0629,11795,0.0136,-0.0868,49.0,...,-0.0522,2.453058e+06,-0.0262,0.0066,22901,0.0090,-0.0740,0.941585,-0.0087,0.0269
2,202108,5069,"jefferson, ar",102450.0,0.0255,0.3151,89,0.1558,-0.1759,38.5,...,0.1059,1.317856e+05,0.0273,0.0554,174,0.5818,0.3594,0.955056,0.5265,0.7699
3,202108,49045,"tooele, ut",487500.0,-0.0150,0.2420,107,0.2738,0.0808,17.5,...,-0.0445,5.124959e+05,0.0103,0.3007,341,0.0965,-0.0606,2.186916,-0.5155,-0.4798
4,202108,31153,"sarpy, ne",387000.0,0.0320,0.1078,231,0.0596,-0.3362,40.5,...,-0.0344,4.009027e+05,0.0008,0.0855,1078,-0.0253,-0.0650,3.666667,-0.4067,1.3534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61995,201607,42039,"crawford, pa",118000.0,NaN,NaN,563,NaN,NaN,82.0,...,NaN,1.586993e+05,NaN,NaN,623,NaN,NaN,0.106572,NaN,NaN
61996,201607,13045,"carroll, ga",180000.0,NaN,NaN,1084,NaN,NaN,52.0,...,NaN,2.423968e+05,NaN,NaN,1381,NaN,NaN,0.273985,NaN,NaN
61997,201607,9011,"new london, ct",285000.0,NaN,NaN,2128,NaN,NaN,79.0,...,NaN,4.112547e+05,NaN,NaN,2486,NaN,NaN,0.168233,NaN,NaN
61998,201607,42003,"allegheny, pa",169900.0,NaN,NaN,5015,NaN,NaN,70.0,...,NaN,2.756118e+05,NaN,NaN,7679,NaN,NaN,0.531206,NaN,NaN
61999,201607,42011,"berks, pa",185000.0,NaN,NaN,2120,NaN,NaN,83.0,...,NaN,2.340682e+05,NaN,NaN,3047,NaN,NaN,0.437264,NaN,NaN

In [17]:
for col in monthly_county.columns:
    print(col)

month_date_yyyymm
county_fips
county_name
median_listing_price
median_listing_price_mm
median_listing_price_yy
active_listing_count
active_listing_count_mm
active_listing_count_yy
median_days_on_market
median_days_on_market_mm
median_days_on_market_yy
new_listing_count
new_listing_count_mm
new_listing_count_yy
price_increased_count
price_increased_count_mm
price_increased_count_yy
price_reduced_count
price_reduced_count_mm
price_reduced_count_yy
pending_listing_count
pending_listing_count_mm
pending_listing_count_yy
median_listing_price_per_square_foot
median_listing_price_per_square_foot_mm
median_listing_price_per_square_foot_yy
median_square_feet
median_square_feet_mm
median_square_feet_yy
average_listing_price
average_listing_price_mm
average_listing_price_yy
total_listing_count
total_listing_count_mm
total_listing_count_yy
pending_ratio
pending_ratio_mm
pending_ratio_yy

In [43]:
monthly_county.set_index(keys= 'month_date_yyyymm', drop=True, inplace=True)

In [44]:
monthly_county

,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
month_date_yyyymm,,,,,,,,,,,,,,,,,,,,,
202108,41029,"jackson, or",522494.5,-0.0048,0.0908,454,0.0784,-0.1303,42.5,0.089744,...,-0.0946,7.030042e+05,-0.0096,-0.0048,1019,-0.0039,-0.1572,1.244493,-0.1854,-0.0716
202108,6037,"los angeles, ca",984000.0,-0.0160,-0.0629,11795,0.0136,-0.0868,49.0,0.000000,...,-0.0522,2.453058e+06,-0.0262,0.0066,22901,0.0090,-0.0740,0.941585,-0.0087,0.0269
202108,5069,"jefferson, ar",102450.0,0.0255,0.3151,89,0.1558,-0.1759,38.5,0.013158,...,0.1059,1.317856e+05,0.0273,0.0554,174,0.5818,0.3594,0.955056,0.5265,0.7699
202108,49045,"tooele, ut",487500.0,-0.0150,0.2420,107,0.2738,0.0808,17.5,0.029412,...,-0.0445,5.124959e+05,0.0103,0.3007,341,0.0965,-0.0606,2.186916,-0.5155,-0.4798
202108,31153,"sarpy, ne",387000.0,0.0320,0.1078,231,0.0596,-0.3362,40.5,0.065789,...,-0.0344,4.009027e+05,0.0008,0.0855,1078,-0.0253,-0.0650,3.666667,-0.4067,1.3534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201607,42039,"crawford, pa",118000.0,NaN,NaN,563,NaN,NaN,82.0,NaN,...,NaN,1.586993e+05,NaN,NaN,623,NaN,NaN,0.106572,NaN,NaN
201607,13045,"carroll, ga",180000.0,NaN,NaN,1084,NaN,NaN,52.0,NaN,...,NaN,2.423968e+05,NaN,NaN,1381,NaN,NaN,0.273985,NaN,NaN
201607,9011,"new london, ct",285000.0,NaN,NaN,2128,NaN,NaN,79.0,NaN,...,NaN,4.112547e+05,NaN,NaN,2486,NaN,NaN,0.168233,NaN,NaN
201607,42003,"allegheny, pa",169900.0,NaN,NaN,5015,NaN,NaN,70.0,NaN,...,NaN,2.756118e+05,NaN,NaN,7679,NaN,NaN,0.531206,NaN,NaN
201607,42011,"berks, pa",185000.0,NaN,NaN,2120,NaN,NaN,83.0,NaN,...,NaN,2.340682e+05,NaN,NaN,3047,NaN,NaN,0.437264,NaN,NaN

In [45]:
monthly_county.to_csv("../Output/Monthly_Metrics_By_County.csv")

# Monthly Metrics by Metro

In [19]:
monthly_metro = pd.read_csv("../Dataset/Monthly_Inventory/Historical/Metrics_Metro_History.csv")
monthly_metro

,month_date_yyyymm,cbsa_code,cbsa_title,HouseholdRank,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202108,35620,"new york-newark-jersey city, ny-nj-pa",1,602500.0,0.0058,-0.0267,64288,0.0326,-0.1286,...,-0.1298,1.313384e+06,0.0824,0.1175,97648,0.0384,-0.0796,0.518915,0.0085,0.0809
1,202108,31080,"los angeles-long beach-anaheim, ca",2,974500.0,-0.0245,-0.0245,14288,0.0092,-0.1759,...,-0.0626,2.372414e+06,-0.0214,0.0550,28984,0.0038,-0.1342,1.028555,-0.0108,0.0978
2,202108,16980,"chicago-naperville-elgin, il-in-wi",3,340950.0,-0.0256,-0.0231,22164,0.0445,-0.1683,...,-0.0876,4.994379e+05,-0.0403,-0.0025,44173,-0.0078,-0.1497,0.993007,-0.1051,0.0437
3,202108,19100,"dallas-fort worth-arlington, tx",4,396495.0,0.0038,0.1014,9110,0.1037,-0.3734,...,-0.0806,5.679595e+05,-0.0214,0.0674,23662,0.0466,-0.2174,1.597366,-0.1417,0.5176
4,202108,26420,"houston-the woodlands-sugar land, tx",5,364217.5,-0.0021,0.1054,16357,0.0924,-0.2516,...,-0.0694,5.265473e+05,-0.0340,0.0694,32162,0.0197,-0.1462,0.966253,-0.1403,0.2428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56849,201607,46900,"vernon, tx",913,139000.0,NaN,NaN,3,NaN,NaN,...,NaN,1.728000e+05,NaN,NaN,5,NaN,NaN,0.666667,NaN,NaN
56850,201607,18780,"craig, co",914,175000.0,NaN,NaN,186,NaN,NaN,...,NaN,2.134051e+05,NaN,NaN,208,NaN,NaN,0.118280,NaN,NaN
56851,201607,29500,"lamesa, tx",915,101900.0,NaN,NaN,11,NaN,NaN,...,NaN,1.304111e+05,NaN,NaN,13,NaN,NaN,0.181818,NaN,NaN
56852,201607,49820,"zapata, tx",916,128000.0,NaN,NaN,27,NaN,NaN,...,NaN,1.290893e+05,NaN,NaN,27,NaN,NaN,0.000000,NaN,NaN
56853,201607,37780,"pecos, tx",917,169900.0,NaN,NaN,5,NaN,NaN,...,NaN,1.019750e+05,NaN,NaN,6,NaN,NaN,0.200000,NaN,NaN

In [ ]:
.reset_index(drop=True, inplace=True)

In [20]:
for col in monthly_metro.columns:
    print(col)

month_date_yyyymm
cbsa_code
cbsa_title
HouseholdRank
median_listing_price
median_listing_price_mm
median_listing_price_yy
active_listing_count
active_listing_count_mm
active_listing_count_yy
median_days_on_market
median_days_on_market_mm
median_days_on_market_yy
new_listing_count
new_listing_count_mm
new_listing_count_yy
price_increased_count
price_increased_count_mm
price_increased_count_yy
price_reduced_count
price_reduced_count_mm
price_reduced_count_yy
pending_listing_count
pending_listing_count_mm
pending_listing_count_yy
median_listing_price_per_square_foot
median_listing_price_per_square_foot_mm
median_listing_price_per_square_foot_yy
median_square_feet
median_square_feet_mm
median_square_feet_yy
average_listing_price
average_listing_price_mm
average_listing_price_yy
total_listing_count
total_listing_count_mm
total_listing_count_yy
pending_ratio
pending_ratio_mm
pending_ratio_yy

In [21]:
monthly_metro.to_csv("../Output/Monthly_Metrics_By_Metro.csv")

# Monthly Metrics by State

In [52]:
monthly_state = pd.read_csv("../Dataset/Monthly_Inventory/Historical/Metrics_State_History.csv")
monthly_state

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     Metrics_State_History
month_date_yyyymm state        state_id median_listing_price median_listing_price_mm median_listing_price_yy active_listing_count active_listing_count_mm active_listing_count_yy median_days_on_market median_days_on_market_mm median_days_on_market_yy new_listing_count new_listing_count_mm new_listing_count_yy price_increased_count price_increased_count_mm price_increased_count_yy price_reduced_count price_reduced_count_mm price_reduced_count_yy pending_listing_count pending_listing_count_mm pending_listing_count_yy median_listing_price_per_square_foot median_listing_price_per_square_foot_mm median_listing_price_per_square_foot_yy median_square_feet median_square_feet_mm median_square_feet_yy average_listing_price average_listing_price_mm average_listing_price_yy total_listing_count total_listing_count_mm total_listing_count_yy pending_ratio pending_ratio_mm      pending_ratio_yy
202108            vermont      vt       350000               0                       0.0769                  1686                 -0.0035                 -0.4115                 54.5                  0.184782609              -0.263513514             820               -0.1734              -0.2293              24                    0                        -0.5385                  360                 0.0345                 -0.2035                1135                  0.0161                   -0.3167                  189.9454365                          -0.0107                                 0.1872                                  1954               0.0198                -0.0422               545331.1847           0.013                    0.1247                   2821                0.0043                 -0.3767                0.673190985   0.013                           0.0934
                  nebraska     ne       255000               -0.0189                 0.02                    3072                 0.0431                  -0.2209                 45.5                  0.011111111              -0.228813559             2036              -0.0414              0.0538               56                    -0.2632                  -0.7846                  700                 0.1364                 -0.0838                4813                  -0.0378                  0.0105                   129.4752103                          -0.0072                                 0.102                                   1883.5             -0.0149               -0.0817               329148.3166           -0.0321                  0.0766                   7885                -0.0078                -0.0943                1.566731771   -0.1317                         0.3588
                  kansas       ks       215000               -0.0223                 0                       4363                 0.047                   -0.2257                 41                    0.025                    -0.316666667             2904              -0.0176              0.063                160                   0.1765                   -0.0244                  1452                0.1273                 -0.062                 6379                  -0.038                   0.035                    111.9199309                          5E-04                                   0.1184                                  1874               -0.0032               -0.085                303980.0402           -0.017                   -0.0217                  10742               -0.0052                -0.0895                1.462067385   -0.1292                         0.3684
                  pennsylvania pa       269900               -0.0185                 0.0381                  22110                0.036                   -0.1276                 43.5                  0.06097561               -0.194444444             14020             -0.055               0.095                536                   -0.0694                  -0.4704                  7492                0.0558                 0.0534                 25397                 -0.0188                  0.7581                   146.9375                             -0.0093                                 0.1456                                  1612.5             -0.0119               -0.062                386871.3629           -0.0359                  0.0107                   47507               0.006                  0.1939                 1.148665762   -0.0641                         0.5787
...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
201801            montana      mt       335150               7E-04                   0.0312                  6575                 -0.0968                 -0.0077                 142.5                 0.08778626               0.104651163              1168              0.2167               0.0896               36                    0.2857                   -0.1                     512                 0.113                  0.0492                 4408                  2.425                    4.279                    156.451865                           0.0013                                  0.2648                                  2195               0.0018                0.1744                617756.3444           0.01                     0.03                     10983               0.282                  0.4721                 0.670418251   0.4936                          0.5444
                  hawaii       hi       682400               -0.0023                 -0.0073                 5425                 0.0061                  -0.0982                 87                    -0.011363636             -0.02247191              1740              0.2358               -0.0136              88                    0.2222                   0.4667                   840                 0.1475                 0.0606                 2536                  2.9812                   1.7094                   507.5918964                          0.0118                                  0.0501                                  1360               0.0059                -0.0116               1382679.908           0.0214                   0.0403                   7961                0.3205                 0.1451                 0.467465438   0.3493                          0.3119
                  maryland     md       299990               0                       0.038                   17934                -0.1058                 -0.1298                 85                    0.103896104              -0.076086957             5612              0.1538               -0.1371              496                   0.2525                   -0.1014                  3920                0.0757                 -0.1358                12044                 2.3567                   2.3363                   102.34375                            0.0661                                  -0.3394                                 1022               0.0139                -0.3821               407669.7888           -0.0053                  0.0464                   29978               0.2678                 0.2378                 0.671573547   0.4927                          0.4964
                  wisconsin    wi       199900               0                       0.1112                  19342                -0.1195                 -0.2534                 114.5                 0.09047619               -0.045833333             4276              0.3346               -0.1502              116                   -0.1212                  -0.0645                  2180                0.0771                 -0.2236                12968                 2.6799                   5.0854                   114.9941711                          0.0109                                  0.0758                                  1722               -0.0023               0.0204                284023.8134           0.0141                   0.0926                   32310               0.2675                 0.1524                 0.670458071   0.51                            0.5882
                  south dakota sd       226200               0.0053                  0.0521                  3140                 -0.0904                 0.1127                  84                    0.105263158              -0.01754386              832               0.4054               0.1492               28                    0.75                     0.1667                   324                 0.08                   0.1571                 428                   2.7876                   4.0952                   113.1014287                          0.0023                                  0.0563                                  1969.5             -0.0073               -0.0148               288747.4227           0.0107                   0.0389                   3568                8E-04                  0.2278                 0.136305732   0.1036                          0.1065

[2246 rows x 1 columns]

In [53]:
for col in monthly_state.columns:
    print(col)

Metrics_State_History

In [24]:
monthly_state.to_csv("../Output/Monthly_Metrics_By_State.csv")

# Monthly Metrics by Zip

In [28]:
monthly_zip = pd.read_csv("../Dataset/Monthly_Inventory/Historical/Metrics_Zip_History.csv")
monthly_zip

FileNotFoundError: [Errno 2] File ../Dataset/Monthly_Inventory/Historical/Metrics_Zip_History.csv does not exist: '../Dataset/Monthly_Inventory/Historical/Metrics_Zip_History.csv'

In [ ]:
for col in monthly_zip.columns:
    print(col)

In [ ]:
monthly_zip.to_csv("../Output/Monthly_Metrics_By_Zip.csv")

# Weekly Metrics by Country

In [29]:
weekly_country = pd.read_csv("../Dataset/Weekly_Inventory/weekly_by_country.csv")
weekly_country

,week_end_date,geo_country,median_listing_price_yy,active_listing_count_yy,median_days_on_market_by_day_yy,median_days_on_market_yy,new_listing_count_yy,new_listing_share_yy,price_reduced_count_yy,price_reduced_share_yy
0,9/4/2021,usa,8.3%,-23.6%,-12,-21.8%,-8.2%,2.0%,-11.9%,0.7%
1,8/28/2021,usa,8.6%,-23.6%,-15,-26.8%,1.2%,3.0%,-10.2%,0.7%
2,8/21/2021,usa,8.6%,-24.7%,-17,-30.4%,1.8%,3.3%,-9.0%,0.9%
3,8/14/2021,usa,8.6%,-26.1%,-18,-32.1%,5.8%,4.0%,-11.4%,0.8%
4,8/7/2021,usa,8.6%,-27.8%,-17,-30.4%,2.9%,4.0%,-14.1%,0.7%
...,...,...,...,...,...,...,...,...,...,...
214,7/29/2017,usa,8.1%,-9.8%,-6,-8.3%,3.5%,0.9%,-0.7%,0.5%
215,7/22/2017,usa,7.7%,-9.9%,-6,-8.5%,3.4%,1.0%,-0.4%,0.5%
216,7/15/2017,usa,7.7%,-9.5%,-4,-5.8%,3.3%,1.0%,-0.4%,0.5%
217,7/8/2017,usa,7.7%,-10.3%,-4,-5.9%,-2.3%,0.6%,-7.8%,0.1%
218,7/1/2017,usa,8.1%,-10.2%,-4,-6.0%,-0.1%,0.8%,-1.7%,0.5%

In [30]:
for col in weekly_country.columns:
    print(col)

week_end_date
geo_country
median_listing_price_yy
active_listing_count_yy
median_days_on_market_by_day_yy
median_days_on_market_yy
new_listing_count_yy
new_listing_share_yy
price_reduced_count_yy
price_reduced_share_yy

In [31]:
weekly_country.to_csv("../Output/Weekly_Metrics_By_Country.csv")

# Weekly Metrics by Metro

In [32]:
weekly_metro = pd.read_csv("../Dataset/Weekly_Inventory/weekly_by_metro.csv")
weekly_metro

,week_end_date,cbsa_code,cbsa_title,hh_rank,median_listing_price_yy,active_listing_count_yy,median_days_on_market_by_day_yy,median_days_on_market_yy,new_listing_count_yy,new_listing_share_yy,price_reduced_count_yy,price_reduced_share_yy
0,9/4/2021,35620,"new york-newark-jersey city, ny-nj-pa",1,-2.4%,-13.4%,0,0.0%,-38.6%,-2.2%,-25.5%,-0.4%
1,9/4/2021,31080,"los angeles-long beach-anaheim, ca",2,-3.5%,-21.9%,-2,-4.1%,-27.1%,-0.8%,-32.6%,-0.6%
2,9/4/2021,16980,"chicago-naperville-elgin, il-in-wi",3,-5.4%,-18.7%,-3,-7.1%,-15.2%,0.5%,-17.0%,0.1%
3,9/4/2021,19100,"dallas-fort worth-arlington, tx",4,10.1%,-34.7%,-12,-25.5%,-3.8%,5.2%,-37.6%,-0.8%
4,9/4/2021,37980,"philadelphia-camden-wilmington, pa-nj-de-md",5,-7.0%,-1.8%,2,4.4%,-6.8%,-0.6%,4.4%,0.5%
...,...,...,...,...,...,...,...,...,...,...,...,...
21895,7/1/2017,16860,"chattanooga, tn-ga",96,12.6%,-17.5%,-4,-6.3%,-8.6%,0.7%,NaN,0.3%
21896,7/1/2017,38860,"portland-south portland, me",97,6.1%,-21.6%,-14,-19.7%,-10.1%,1.0%,NaN,0.4%
21897,7/1/2017,20500,"durham-chapel hill, nc",98,8.1%,-17.2%,-3,-4.4%,-20.9%,-0.4%,NaN,0.8%
21898,7/1/2017,44060,"spokane-spokane valley, wa",99,16.0%,-13.4%,-12,-24.0%,16.0%,2.7%,NaN,1.8%
21899,7/1/2017,27140,"jackson, ms",100,11.1%,-0.7%,-2,-2.6%,-7.4%,-0.3%,NaN,0.2%

In [33]:
for col in weekly_metro.columns:
    print(col)

week_end_date
cbsa_code
cbsa_title
hh_rank
median_listing_price_yy
active_listing_count_yy
median_days_on_market_by_day_yy
median_days_on_market_yy
new_listing_count_yy
new_listing_share_yy
price_reduced_count_yy
price_reduced_share_yy

In [34]:
weekly_metro.to_csv("../Output/Weekly_Metrics_By_Metro.csv")